[submodule "InputListener"]
	path = InputListener
	url = https://github.com/JGProg/ListenerInputs.git

[submodule "JSON-Server-Client"]
	path = JSONServerClient
	url = https://github.com/JGProg/JSON-Server-Client.git